* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    height:100%;
}

body {
    font-family: Helvetica;
    min-height:100%;
    margin:0px;
    background: linear-gradient(to bottom, #036 0%,#0076c5 50%,#036 100%);
    color:#333;
    padding-bottom: 170px;
    background-attachment: fixed;
}


h3 {
    font-size:25px;
    margin-top:15px;
}

img {
    max-width:100%;
    vertical-align:middle;
    display:inline-block;
}

a:hover, a:visited, a:link, a:active {
    text-decoration:none;
}

pre {
    background-color:#036;
    color:#fff;
    padding-left:4px;
    padding-right:4px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius:4px;
    word-wrap: break-word;
}

code {
    background-color:#036;
    color:#fff;
    padding-left:4px;
    padding-right:4px;
    border-radius:4px;
    word-wrap: break-word;
}

.whole-container {
    margin-left:auto;
    margin-right:auto;
    width:900px;
}

/*****************************************************************************
 * section
 ****************************************************************************/

.section-head {
    display:table;
    background-color:#fff;
    width:900px;
    height:60px;
}

.section-navi {
    background-color:#0077c7;
    color:#fff;
    padding-top:8px;
    padding-bottom:8px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

.section-online-compile {
    background: linear-gradient(45deg, #ffffff 30%,#00325f 200%);
    padding-top:100px;
    padding-bottom:100px;
}

.section-dont-know {
    background-color:#003c6e;
    padding-top:100px;
    padding-bottom:100px;
}

.section-feature-title {
    background-color:#f2f2f2;
    padding-top:100px;
    padding-bottom:100px;
}

.section-feature-grid {
    padding-top: 10px;
    background-color:#f2f2f2;
    height:250px;
}

.section-feature-detail {
    background-color:#dcdcdc;
}


.section-learn-more {
    background-color:#f2f2f2;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
}

.section-foot {
    background-color:#fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    width: 900px;
    display: table;
    border-radius: 0px 0px 5px 5px;
}

.dont-know-text-large {
    color: #fefefe;
    font-size: 48px;
    line-height: 52px; 
    text-align: center;
}

.dont-know-text-small {
    margin-top: 15px;
    color: #fefefe;
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
}

.nutshell-text {
    display:table;
}

.nutshell-text-large {
    color: #003c6e;
    font-size: 48px;
    line-height: 52px; 
    text-align: center;
}

.nutshell-text-small {
    margin-top: 15px;
    color: #003c6e;
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}

.panel-default {
    border-width: 0px;
    color: #fff;
}

.panel-default > .panel-heading {
    background-color: #0077c7;
    border-radius: 0px;
    border-width: 0px;
    color: #fff;
}

.panel-group {
    margin-bottom:0px;
}

.padding-5 {
    padding:10px;
    background-color:#f2f2f2;
}

.feature-block {
    height: 240px;
    width: 230px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fff;
    border-radius: 2px;
}

.feature-block-expanded {
    height: 240px;
    width: 230px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #0077c7;
    background-image: url('../images/learn_triangle.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #fff;
    border-radius: 2px;
}

.feature-block:hover {
    height: 240px;
    width: 230px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ddd;
    cursor:pointer;
}

.width-80 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.feature-block-text-large-sm {
    font-size: 20px;
    line-height: 25px; 
}

.feature-block-text-large {
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px; 
}

.feature-block-text-small {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px; 
}

.feature-detail-block {
    padding:100px;
}

.feature-detail-block-sm {
}

.feature-detail-title {
    font-size: 20px;
    line-height: 25px; 
    color: #003c6e;
}

.feature-detail-detail {
    font-size: 14px;
    line-height: 17px; 
    margin-top: 20px;
    color: #003c6e;
}

.panel-body {
    background-color:#dcdcdc;
}

/*****************************************************************************
 * head
 ****************************************************************************/

.logo-div {
    display:table-cell; vertical-align:middle;
    float:left;
    margin-left:30px;
    margin-top:10px;
}

.search-div {
    display:table-cell; vertical-align:middle;
    padding-top:20px;
    padding-right:30px;
    float:right;
}

/*****************************************************************************
 * nav
 ****************************************************************************/

.navbar-default {
    background-color:#fff;
    color:#ffffff;
    border-radius:5px;
    border-top-width:4px;
    border-bottom-width:4px;
    border-color:#0077c7;
    padding-top:0px;
    padding-bottom:0px;
    font-size:18px;
    margin-bottom:0px;
}

.navbar-collapse {
    background-color:#0077c7;
}

.navbar-default .navbar-nav > li > a {
    color:#fff;
    border-radius:5px;
    min-width: 154px;
    text-align:center;
}
.navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    border-radius:5px;
    min-width: 154px;
    text-align:center;
    background-color:transparent;
}
.navbar-default .navbar-brand {
    color:#eeeeee;
    border-radius:5px;
    min-width: 154px;
    text-align:center;
}
.navbar-default .navbar-nav > li > a:hover, .nav > li > a:focus {
    border-radius:5px;
    text-decoration: none;
    background: linear-gradient(to bottom, #35b5e6 0%, #1995d5 100%);
    min-width: 154px;
    text-align:center;
    border-radius:5;
    border-width:0;
}
.navbar-toggle {
    border-width:0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #003c6e;
    width:22;
    height:2px;
}
.navbar-brand {
    padding:4px;
    margin-left:30px;
}

.nav-button {
    color: white;
    display: inline-block;
    height: 44px;
    width: 154px;
    line-height: 44px;
    font-size:18px;
    text-align: center;
    border-radius: 5px;
}

.nav-button:hover {
    color: white;
    display: inline-block;
    background: linear-gradient(to bottom, #35b5e6 0%, #1995d5 100%);
    height: 44px;
    width: 154px;
    line-height: 44px;
    font-size:18px;
    text-align: center;
    border-radius: 5px;
}

.nav-button-selected-page {
    color: #036;
    display: inline-block;
    background: linear-gradient(to bottom, #35b5e6 0%, #1995d5 100%);
    height: 44px;
    width: 154px;
    line-height: 44px;
    font-size:18px;
    text-align: center;
    border-radius: 5px;
}

.pink {
    background-color:rgba(127, 0, 0, 0.5);
}

.green {
    background-color:rgba(0, 127, 0, 0.5);
}

.nav-button:active {
    color: white;
    display: inline-block;
    background: linear-gradient(to bottom, #1995d5 0%, #35b5e6 100%);
    height: 44px;
    width: 154px;
    line-height: 44px;
    font-size:18px;
    text-align: center;
    border-radius: 5px;
}

.nav-vert-line {
    background-color: white;
    display: inline-block;
    height: 44px;
    width:1px;
    line-height: 44px;
    text-align: center;
    margin-left:8px;
    margin-right:8px;
}

.logo-and-download {
    text-align: center;
}

.btn-download {
    display:table;
    margin-top: 40px;
    background-color:#0077c7;
    color:#fff;
    width: 220px;
    height: 50px;
    font-size:16px;
    padding-top:17;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(-20deg); 
    -o-transform: skew(-20deg); 
    transform: skew(-20deg);
    border-radius: 5px;
    text-align:center;
}

.btn-download:hover {
    display:table;
    margin-top: 40px;
    background-color:#1995d5;
    color:#fff;
    width: 220px;
    height: 50px;
    font-size:16px;
    padding-top:17;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(-20deg); 
    -o-transform: skew(-20deg); 
    transform: skew(-20deg);
    border-radius: 5px;
    text-align:center;
}

.text-download {
    display:table-cell; vertical-align:middle;
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg); 
    transform: skew(20deg);
    text-align:center;
}

.code-and-run-panel {
    width: 400px;
    float: right;
}

.run-button-panel {
    margin-top: 10px;
    float: right;
}

.run-button {
    background-color: #fa8d32;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    padding-top: 7px;
    text-align: center;
    float: left;
    margin-left: 5px;
}

.code {
    border-color: #aaa;
    border-width: 0px;
    background-color: #f8f8f8;
    color: #0077c7;
    width: 400px;
    height: 300px;
    font-family: Menlo, monospace;
    padding: 30px;
    border-radius:3px;
    box-shadow: inset 0px 0px 8px #eee;
    resize: none;
}

.foot-zillians-logo {
    float: left;
    font-size: 10px;
    padding-top: 8px;
    display:table-cell; vertical-align:center;
}

.foot-thor-logo {
    float: right;
    display:table-cell; vertical-align:center;

}

.learn-more-button {
    width:154px;
    height:44px;
    background-color:#0077c7;
    color:#fff;
    font-size:18px;
    border-width:0px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    line-height: 44px;
}

.learn-more-button:hover {
    width:154px;
    height:44px;
    background-color:#1995d5;
    color:#fff;
    font-size:18px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    line-height: 44px;
}

.back-to-top {
    margin-top:30px;
    float:right;
    border-width:0px;
    border-radius: 3px;
    width:30px;
    height:30px;
    background: #fff url('../images/back-to-top.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.search-input {
    background-color:#e0e0e0;
    border-radius:3px;
    border-width:0px;
    display: table-cell;
    display:table-cell; vertical-align:middle;
}

.search-button {
    border-width:0px;
    border-radius: 3px;
    width:22px;
    height:22px;
    background: #fff url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: table-cell;
    display:table-cell; vertical-align:middle;
}

.head-strip1 {
    height:10px;
    background-color:#003c6e;
}

.head-strip2 {
    height:90px;
    margin-bottom:-90px;
    background-color:#fff;
}

.section-learn-body {
    overflow:auto;
    background-color:#fff;
    padding:100px;
}

.sidebar {
    float:left;
    display:inline-block;
    width:180px;
}

.sidebar-link {
    height:42px;
    font-size:14px;
    color:#0077c7;
    padding-top:14px;
    padding-left:28px;
}

.sidebar-link:hover {
    height:42px;
    font-size:14px;
    background:linear-gradient(to right, #00325f 0%, #00325f 5px, #b2d6ee 6px, #b2d6ee 100%);
    background-repeat:no-repeat;
    border-radius:3px;
    color:#0077c7;
    padding-top:14px;
    padding-left:28px;
}

.learn-content {
    float:right;
    width:520px;
    padding-left:35px;
    color:#003c6e;

}

.learn-content-chapter {
    padding-left:25px;
    padding-right:25px;
}

.learn-sidebar-hr {
    background-color:#0077c7;
    color:#0077c7;
    border-width:0px;
    height:1px;
    margin-top:2px;
    margin-bottom:2px;
}

.learn-chapter-hr {
    background-color:#bfcbd7;
    border-width:0px;
    height:2px;
    color:#bfcbd7;
    margin-top:50px;
    margin-bottom:50px;
}

.thorscript-code-ol {
    margin:0px;
}

.thorscript-code-block {
    background-color:#036;
    font-family:monospace;
    color:#555;
    padding:5px;
    margin:10px;
    border-radius:5px;
}

.thorscript-code-block-sm {
    background-color:#036;
    font-family:monospace;
    font-size:11px;
    color:#555;
    padding:5px;
    margin-top:10px;
    border-radius:5px;
}

.round-bottom-5 {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.background-white {
    background-color:#fff;
}

.text-white {
    color:#fff;
}

.max-900 {
    max-width:900px;
}

@media (max-width: 767px) {
    .xs-round-bottom-0 {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }
    .xs-round-top-0 {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }
    .xs-round-0 {
        border-radius:0px;
    }
    .xs-border-white {
        border-color:#fff;
    }
}

/*****************************************************************************
 * ========
 ****************************************************************************/

